<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        body {
            padding: 20px; /* Add padding around the entire body */
        }
    </style>

</head>
<body>
    
        <h1>Popular Songs in <span th:text="${year}"></span></h1>

        <table>
            <tr>
                <th>Track Name</th>
                <th>Artist(s) Name</th>
            </tr>

            <tr th:each=" song : ${songs}">
                <td th:text="${song.trackName}"></td>
                <td th:text="${song.artistName}"></td>
            </tr>
        </table>

        <br>

        <a th:href="@{/songs}">Back to Search</a>

</body>
</html>